@model IEnumerable<PetZone.Models.Ficha>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
body{
     background: linear-gradient(to right, rgb(255,255,255), rgb(26,206,156));
}
a{
    text-decoration:none!important;
}

#container{
            text-align:center;
            border:2px solid rgb(18,160,121)!important;
            font-size:20px;
            background: transparent;
        }
</style>

<h1>Fichas</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Renda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoEnviado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet.PetId)
            </th>
            <br />
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Renda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PedidoEnviado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pet.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pet.PetId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FichaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.FichaId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.FichaId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table><br />

<p id="container" class="button">
            <a id="cartbutton" style="width: 980px;color:rgb(0,0,0);" asp-controller="Admin" asp-action="Index" >Retornar á Página Inicial de Admin</a>
</p>
