@model PetZone.Models.Pet

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
body{
     background: linear-gradient(to right, rgb(255,255,255), rgb(26,206,156));
}
</style>

<h1>Detalhes do Pet</h1>
<div>
    <h4>Pet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idade)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgLink)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgLinkII)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgLinkII)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero.Nome)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Raca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Raca.Nome)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParaAdocao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParaAdocao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PetId">Editar</a> |
    <a asp-action="Index">Retornar para Página de Pets</a>
</div>
